<header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="../assets/images/logo.png" alt="logo" width="100" height="100">
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li *ngIf="isUserAuthenticated()"><a routerLink="/vineyard" class="nav-link px-3 link-dark">{{ 'HEADER.VINEYARD' | translate }}</a></li>
    <li *ngIf="isUserAuthenticated()" ><a routerLink="/profile" class="nav-link px-3 link-dark">{{ 'HEADER.PROFILE' | translate }}</a></li>
    <li class="p-2 link-dark">
      <label>
        {{ 'HEADER.SELECT_LANGUAGE' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <a *ngIf="!isUserAuthenticated()" routerLink="/auth/login"><button type="button" class="btn btn-outline-dark">{{ 'HEADER.LOGIN' | translate }}</button></a>
    <a *ngIf="!isUserAuthenticated()" routerLink="/auth/register"><button type="button" class="btn btn-dark mx-3">{{ 'HEADER.REGISTER' | translate }}</button></a>
    <a *ngIf="isUserAuthenticated()" (click)="logOut()"><button type="button" class="btn btn-dark">{{ 'HEADER.LOGOUT' | translate }}</button></a>
    <a *ngIf="checkIsUserAdmin()" routerLink="/admin" ><button type="button" class="btn btn-dark mx-3">{{ 'HEADER.ADMIN' | translate }}</button></a>
  </div>
</header>
