<div class="container">

  <!--For User without Vineyard-->
  <div *ngIf="!vineyard.id">
    <p class="text-center">You are not a member of any Vineyard.</p>
    <p class="text-center">You can create a new Vineyard</p>

    <a *ngIf="!createVineyardMode" (click)="toggleCreateVineyard()">
      <button type="button" class="btn btn-dark mb-4">Create Vineyard</button>
    </a>
    <a *ngIf="createVineyardMode" (click)="toggleCreateVineyard()">
      <button type="button" class="btn btn-outline-dark mb-4">Hide</button>
    </a>

    <!--Create Vineyard-->
    <div *ngIf="createVineyardMode">
      <div class="alert alert-danger" role="alert" *ngIf="createVineyardErrorMessages.length">
        <p *ngFor="let msg of createVineyardErrorMessages">{{ msg.message }}</p>
      </div>

      <h3 class="form-signin-heading">Create Vineyard</h3>

      <br/>
      <label for="dba" class="sr-only">Vineyard DBA name</label>
      <input type="text" id="dba" name="dba" [(ngModel)]="createVineyardRequest.dbaName"
             class="form-control mb-4" placeholder="enter dba name of vineyard here" required>

      <label for="company" class="sr-only">Company name</label>
      <input type="text" id="company" name="company" [(ngModel)]="createVineyardRequest.companyName"
             class="form-control mb-4" placeholder="enter company name here" required>

      <label for="email" class="sr-only">Email</label>
      <input type="text" id="email" name="email" [(ngModel)]="createVineyardRequest.email"
             class="form-control mb-4" placeholder="enter email here" required>

      <label for="phoneNumber" class="sr-only">Phone number</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="createVineyardRequest.phoneNumber"
             class="form-control mb-4" placeholder="enter phone number here" required>

      <label for="city" class="sr-only">City</label>
      <input type="text" id="city" name="city" [(ngModel)]="createVineyardRequest.city"
             class="form-control mb-4" placeholder="enter city name here" required>

      <label for="streetAddress" class="sr-only">Street address</label>
      <input type="text" id="streetAddress" name="streetAddress" [(ngModel)]="createVineyardRequest.streetAddress"
             class="form-control mb-4" placeholder="enter street address here" required>

      <label for="zipCode" class="sr-only">Zip code</label>
      <input type="text" id="zipCode" name="zipCode" [(ngModel)]="createVineyardRequest.zipCode"
             class="form-control mb-4" placeholder="enter zip code here" required>

      <button class="btn btn-lg btn-outline-dark mb-4"
              (click)="createVineyard()"
              [disabled]="!createVineyardRequest.dbaName || !createVineyardRequest.companyName ||
              !createVineyardRequest.email || !createVineyardRequest.phoneNumber || !createVineyardRequest.city
              || !createVineyardRequest.streetAddress || !createVineyardRequest.zipCode">Create
      </button>
    </div>
  </div>

  <div *ngIf="vineyard.id" class="row">
    <div class="col-5">

      <!--Vineyard Info-->
      <div class="mb-3">
        <h3 class="mb-3">{{ 'VINEYARD.VINEYARD_INFO' | translate }}</h3>
        <p><b>{{ 'VINEYARD.DBA_NAME' | translate }}</b> {{ vineyard.dbaName }}</p>
        <p><b>{{ 'VINEYARD.COMPANY_NAME' | translate }}</b> {{ vineyard.companyName }}</p>
        <p><b>{{ 'VINEYARD.EMAIL' | translate }}</b> {{ vineyard.email }}</p>
        <p><b>{{ 'VINEYARD.PHONE_NUMBER' | translate }}</b> {{ vineyard.phoneNumber }}</p>
        <p><b>{{ 'VINEYARD.CITY' | translate }}</b> {{ vineyard.city }}</p>
        <p><b>{{ 'VINEYARD.STREET_ADDRESS' | translate }}</b> {{ vineyard.streetAddress }}</p>
        <p><b>{{ 'VINEYARD.ZIP_CODE' | translate }}</b> {{ vineyard.zipCode }}</p>
        <p><b>{{ 'COMMON.CREATION_DATE' | translate }}</b> {{ vineyard.createdAt | date:'long' }}</p>
        <p><b>{{ 'COMMON.CREATOR_NAME' | translate }}</b> {{ vineyard.createdBy }}</p>
        <p><b>{{ 'COMMON.LAST_MODIFIED_DATE' | translate }}</b> {{ vineyard.lastUpdatedAt != null ? vineyard.lastUpdatedAt : 'COMMON.NO_MODIFICATIONS_YET' | translate }}</p>
        <p><b>{{ 'COMMON.LAST_MODIFIED_BY' | translate }}</b> {{ vineyard.lastUpdatedBy != null ? vineyard.lastUpdatedBy : 'COMMON.NO_MODIFICATIONS_YET' | translate }}</p>
      </div>

      <!--Vineyard Director Info-->
      <div class="">
        <ng-container *ngIf="user.role == 'VINEYARD_DIRECTOR'">
          <a *ngIf="!editVineyardMode" (click)="toggleEditVineyard()">
            <button type="button" class="btn btn-dark mb-4">{{ 'VINEYARD.EDIT_INFO' | translate }}</button>
          </a>
          <a *ngIf="editVineyardMode" (click)="toggleEditVineyard()">
            <button type="button" class="btn btn-outline-dark mb-4">{{ 'COMMON.HIDE' | translate }}</button>
          </a>

          <a *ngIf="!deleteVineyardMode" (click)="toggleDeleteVineyard()">
            <button type="button" class="btn btn-danger mx-3 mb-4">{{ 'VINEYARD.DELETE_VINEYARD' | translate }}</button>
          </a>
          <a *ngIf="deleteVineyardMode" (click)="toggleDeleteVineyard()">
            <button type="button" class="btn btn-danger mx-3 mb-4">{{ 'COMMON.HIDE' | translate }}</button>
          </a>
          <a *ngIf="deleteVineyardMode" (click)="deleteVineyard()">
            <button type="button" class="btn btn-outline-danger mb-4">{{ 'COMMON.CONFIRM' | translate }}</button>
          </a>

          <div *ngIf="editVineyardMode">
            <h3 class="form-signin-heading">{{ 'VINEYARD.EDIT_INFO' | translate }}</h3>

            <div class="alert alert-danger" role="alert" *ngIf="editVineyardErrorMessages.length">
              <p *ngFor="let msg of editVineyardErrorMessages">{{ msg.message }}</p>
            </div>

            <br/>
            <label for="dba" class="sr-only">{{ 'VINEYARD.DBA_NAME' | translate }}</label>
            <input type="text" id="editDba" name="dba" [(ngModel)]="editVineyardRequest.dbaName"
                   class="form-control mb-4" placeholder="enter dba name of vineyard here" required>

            <label for="company" class="sr-only">{{ 'VINEYARD.COMPANY_NAME' | translate }}</label>
            <input type="text" id="editCompany" name="company" [(ngModel)]="editVineyardRequest.companyName"
                   class="form-control mb-4" placeholder="enter company name here" required>

            <label for="email" class="sr-only">{{ 'VINEYARD.EMAIL' | translate }}</label>
            <input type="text" id="editEmail" name="email" [(ngModel)]="editVineyardRequest.email"
                   class="form-control mb-4" placeholder="enter email here" required>

            <label for="phoneNumber" class="sr-only">{{ 'VINEYARD.PHONE_NUMBER' | translate }}</label>
            <input type="text" id="editPhoneNumber" name="phoneNumber" [(ngModel)]="editVineyardRequest.phoneNumber"
                   class="form-control mb-4" placeholder="enter phone number here" required>

            <label for="city" class="sr-only">{{ 'VINEYARD.CITY' | translate }}</label>
            <input type="text" id="editCity" name="city" [(ngModel)]="editVineyardRequest.city"
                   class="form-control mb-4" placeholder="enter city name here" required>

            <label for="streetAddress" class="sr-only">{{ 'VINEYARD.STREET_ADDRESS' | translate }}</label>
            <input type="text" id="editStreetAddress" name="streetAddress"
                   [(ngModel)]="editVineyardRequest.streetAddress"
                   class="form-control mb-4" placeholder="enter street address here" required>

            <label for="zipCode" class="sr-only">{{ 'VINEYARD.ZIP_CODE' | translate }}</label>
            <input type="text" id="editZipCode" name="zipCode" [(ngModel)]="editVineyardRequest.zipCode"
                   class="form-control mb-4" placeholder="enter zip code here" required>

            <button class="btn btn-dark mb-4"
                    (click)="editVineyard()"
                    [disabled]="!editVineyardRequest.dbaName || !editVineyardRequest.companyName ||
                  !editVineyardRequest.email || !editVineyardRequest.phoneNumber || !editVineyardRequest.city
                  || !editVineyardRequest.streetAddress || !editVineyardRequest.zipCode">{{ 'COMMON.EDIT' | translate }}
            </button>
          </div>
        </ng-container>
      </div>

      <!--Create block-->
      <!--Block Info-->
      <div class="">
        <ng-container *ngIf="user.role == 'VINEYARD_DIRECTOR' || user.role == 'VINEYARD_MANAGER'">
          <h4>{{ 'VINEYARD.CREATE_BLOCK' | translate }}</h4>

          <div *ngIf="createBlockErrorMessages.length">
            <div class="alert alert-danger" role="alert">
              <p *ngFor="let msg of createBlockErrorMessages">{{ msg.message }}</p>
            </div>
          </div>

          <a *ngIf="!createBlockMode" (click)="toggleCreateBlock()">
            <button type="button" class="btn btn-dark mb-4">{{ 'BLOCK.CREATE_BLOCK' | translate }}</button>
          </a>
          <a *ngIf="createBlockMode" (click)="toggleCreateBlock()">
            <button type="button" class="btn btn-outline-dark">{{ 'COMMON.HIDE' | translate }}</button>
          </a>

          <div *ngIf="createBlockMode">
            <br/>
            <label for="blockName" class="sr-only">{{ 'BLOCK.BLOCK_NAME' | translate }}</label>
            <input type="text" id="blockName" name="blockName" [(ngModel)]="createBlockRequest.name"
                   class="form-control mb-4" placeholder="enter name of block here" required>

            <label for="partitioningType" class="sr-only">{{ 'BLOCK.PARTITION_TYPE' | translate }}</label>
            <input type="text" id="partitioningType" name="partitioningType"
                   [(ngModel)]="createBlockRequest.partitioningType"
                   class="form-control mb-4" placeholder="enter partitioning type here" required>

            <label for="rowOrientation" class="sr-only">{{ 'BLOCK.ROW_ORIENTATION' | translate }}</label>
            <input type="text" id="rowOrientation" name="rowOrientation"
                   [(ngModel)]="createBlockRequest.rowOrientation"
                   class="form-control mb-4" placeholder="enter row orientation here" required>

            <label for="rowSpacing" class="sr-only">{{ 'BLOCK.TRELLIS_SYSTEM' | translate }}</label>
            <input type="number" id="rowSpacing" name="rowSpacing" [(ngModel)]="createBlockRequest.rowSpacing"
                   class="form-control mb-4" placeholder="enter row spacing here" required>

            <label for="trellisSystemType" class="sr-only">{{ 'BLOCK.TRELLIS_SYSTEM' | translate }}</label>
            <input type="text" id="trellisSystemType" name="trellisSystemType"
                   [(ngModel)]="createBlockRequest.trellisSystemType"
                   class="form-control mb-4" placeholder="enter trellis system type here" required>

            <label for="vineSpacing" class="sr-only">{{ 'BLOCK.VINE_SPACING' | translate }}</label>
            <input type="number" id="vineSpacing" name="vineSpacing" [(ngModel)]="createBlockRequest.vineSpacing"
                   class="form-control mb-4" placeholder="enter vine spacing here" required>

            <button class="btn btn-dark mb-4" type="submit" [disabled]="
          !createBlockRequest.name || !createBlockRequest.partitioningType || !createBlockRequest.rowOrientation
          || !createBlockRequest.rowSpacing || !createBlockRequest.trellisSystemType || !createBlockRequest.vineSpacing"
                    (click)="createBlock()">{{ 'COMMON.CREATE' | translate }}
            </button>
          </div>
        </ng-container>
        <div>
          <h4>{{ vineyard.dbaName }} {{ 'VINEYARD.BLOCKS' | translate }}</h4>
          <hr/>
          <div *ngIf="!blocks.length"><p>{{ 'VINEYARD.NO_BLOCKS' | translate }}</p></div>
          <div *ngFor="let block of blocks">
            <p><b>{{ 'COMMON.NAME' | translate }}</b> {{ block.name }}</p>
            <p><b>{{ 'BLOCK.PARTITION_TYPE' | translate }}</b> {{ block.partitioningType }}</p>
            <p><b>{{ 'BLOCK.ROW_ORIENTATION' | translate }}</b> {{ block.rowOrientation }}</p>
            <p><b>{{ 'BLOCK.TRELLIS_SYSTEM' | translate }}</b> {{ block.trellisSystemType }}</p>
            <a [routerLink]="['/vineyard', vineyard.id, 'block', block.id]">
              <button type="button" class="btn btn-dark">{{ 'BLOCK.GO_TO_BLOCK' | translate }}</button>
            </a>
            <hr>
          </div>
        </div>
      </div>

    </div>

    <div class="col-1"></div>

    <div class="col-6">

      <!--Vineyard Employees Management-->
      <div class="">
        <h3 class="mb-3"> {{ vineyard.dbaName }} {{ "VINEYARD.EMPLOYEES" | translate }}</h3>
        <!-- Error Messages -->
        <div *ngIf="hireEmployeeErrorMessages.length">
          <div class="alert alert-danger" role="alert">
            <p *ngFor="let msg of hireEmployeeErrorMessages">{{ msg.message }}</p>
          </div>
        </div>

        <div *ngIf="user.role == 'VINEYARD_DIRECTOR'">
          <h5>{{ "EMPLOYEE.HIRE_EMPLOYEE" | translate }}</h5>
          <a *ngIf="!hireEmployeeMode" (click)="toggleHireEmployee()">
            <button type="button" class="btn btn-dark mb-4">{{ "EMPLOYEE.HIRE" | translate }}</button>
          </a>
          <a *ngIf="hireEmployeeMode" (click)="toggleHireEmployee()">
            <button type="button" class="btn btn-outline-dark">{{ "COMMON.HIDE" | translate }}</button>
          </a>
        </div>

        <!-- Hire Employee Form -->
        <div *ngIf="hireEmployeeMode">
          <br/>
          <label for="firstName" class="sr-only">{{ "EMPLOYEE.EMPLOYEE_ID" | translate }}</label>
          <input type="text" id="firstName" name="firstName" [(ngModel)]="hireEmployeeRequest.staffId"
                 class="form-control mb-4" placeholder="enter first name of employee here" required>

          <label for="role" class="sr-only">{{ "EMPLOYEE.ROLE" | translate }}</label>
          <select id="role" name="role" [(ngModel)]="hireEmployeeRequest.vineyardRole" class="form-control mb-4"
                  required>
            <option value="VINEYARD_MANAGER">{{ "EMPLOYEE.VINEYARD_MANAGER" | translate }}</option>
            <option value="VINEYARD_WORKER">{{ "EMPLOYEE.VINEYARD_WORKER" | translate }}</option>
          </select>

          <button class="btn btn-dark mb-4" type="submit" [disabled]="
            !hireEmployeeRequest.staffId || !hireEmployeeRequest.vineyardRole"
                  (click)="hireStaff()">{{ "COMMON.HIRE" | translate }}
          </button>
        </div>

        <!-- Employees List -->
        <div>
          <hr>
          <div *ngIf="!staff.length"><p>{{ "EMPLOYEE.EMPTY_EMPLOYEES" | translate }}</p></div>
          <div *ngFor="let employee of staff">
            <p><b>{{ "PROFILE.FIRST_NAME" | translate }}</b> {{ employee.firstName }} </p>
            <p><b>{{ "PROFILE.LAST_NAME" | translate }}</b> {{ employee.lastName }}</p>
            <p><b>{{ "PROFILE.EMAIL" | translate }}</b> {{ employee.email }}</p>
            <p><b>{{ "PROFILE.ROLE" | translate }}</b> {{ employee.role }}</p>
            <button *ngIf="employee.role != 'VINEYARD_DIRECTOR' && user.role == 'VINEYARD_DIRECTOR'"
                    type="button" class="btn btn-danger"
                    (click)="fireStaff(employee.id)">{{ "COMMON.FIRE" | translate}}
            </button>
            <button *ngIf="employee.role != 'VINEYARD_DIRECTOR' && user.role == 'VINEYARD_DIRECTOR'"
                    type="button" class="btn btn-dark mx-3"
                    (click)="toggleEditStaff(employee.id)">{{ "COMMON.EDIT" | translate}}
            </button>

            <div *ngIf="editStaffMode && editStaffId == employee.id">
              <br/>
              <select id="vineyardRole" name="vineyardRole" [(ngModel)]="editStaffRequest.vineyardRole"
                      class="form-control mb-4"
                      required>
                <option value="VINEYARD_MANAGER">{{ "EMPLOYEE.VINEYARD_MANAGER" | translate }}</option>
                <option value="VINEYARD_WORKER">{{ "EMPLOYEE.VINEYARD_WORKER" | translate }}</option>
              </select>

              <button class="btn btn-dark mb-4" type="submit" [disabled]="!editStaffRequest.vineyardRole"
                      (click)="editStaff()">{{ "COMMON.CONFIRM" | translate}}
              </button>
            </div>
            <hr>
          </div>

        </div>
      </div>

      <!--Create group-->
      <!--Group Info-->
      <div class="">
        <ng-container *ngIf="user.role == 'VINEYARD_DIRECTOR' || user.role == 'VINEYARD_MANAGER'">
          <h4>{{  "GROUP.CREATE_GROUP" | translate }}</h4>
          <div *ngIf="createGroupErrorMessages.length">
            <div class="alert alert-danger" role="alert">
              <p *ngFor="let msg of createGroupErrorMessages">{{ msg.message }}</p>
            </div>
          </div>

          <a *ngIf="!createGroupMode" (click)="toggleCreateGroup()">
            <button type="button" class="btn btn-dark mb-4">{{ "COMMON.CREATE" | translate }}</button>
          </a>
          <a *ngIf="createGroupMode" (click)="toggleCreateGroup()">
            <button type="button" class="btn btn-outline-dark">{{ "COMMON.HIDE" | translate }}</button>
          </a>

          <div *ngIf="createGroupMode">
            <br/>
            <label for="groupName" class="sr-only">{{ "COMMON.NAME" | translate }}</label>
            <input type="text" id="groupName" name="groupName" [(ngModel)]="createGroupRequest.name"
                   class="form-control mb-4" placeholder="enter name of group here" required>

            <label for="groupDescription" class="sr-only">{{ "COMMON.DESCRIPTION" | translate }}</label>
            <input type="text" id="groupDescription" name="groupDescription"
                   [(ngModel)]="createGroupRequest.description"
                   class="form-control mb-4" placeholder="enter description of group here" required>

            <label for="formationReason" class="sr-only">{{ "GROUP.FORMATION_REASON" | translate }}</label>
            <input type="text" id="formationReason" name="formationReason"
                   [(ngModel)]="createGroupRequest.formationReason"
                   class="form-control mb-4" placeholder="enter formation reason here" required>

            <button class="btn btn-dark mb-4" type="submit" [disabled]="
          !createGroupRequest.name || !createGroupRequest.description || !createGroupRequest.formationReason"
                    (click)="createGroup()"> {{ "COMMON.CREATE" | translate }}
            </button>
          </div>
        </ng-container>
        <div>
          <h4>{{ vineyard.dbaName }} {{ "GROUP.GROUPS" | translate }}</h4>
          <hr>
          <div *ngIf="!groups.length"><p>{{ "GROUP.EMPTY_GROUPS" | translate }}</p></div>
          <div *ngFor="let group of groups">
            <p><b>{{ "COMMON.NAME" | translate }}</b> {{ group.name }}</p>
            <p><b>{{ "COMMON.DESCRIPTION" | translate }}</b> {{ group.description }}</p>
            <p><b>{{ "GROUP.FORMATION_REASON" | translate }}</b> {{ group.formationReason }}</p>
            <a [routerLink]="['/vineyard', vineyard.id, 'group', group.id]">
              <button type="button" class="btn btn-dark">{{ "GROUP.GO_TO_GROUP" | translate }}</button>
            </a>
            <hr>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
