<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Profile</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <h3>User Info</h3>
            <p>First Name: {{ user.firstName }}</p>
            <p>Last Name: {{ user.lastName }}</p>
            <p>Email: {{ user.email }}</p>
          </div>
          <div class="row">
            <h3>Account Info</h3>
            <p>Create time: {{ user.createdAt }}</p>
            <p>Created by: {{ user.createdBy }}</p>
            <p>Last update time: {{ user.lastUpdatedAt != null ? user.lastUpdatedAt : "Ain`t updated yet!" }}</p>
            <p>Last updated by: {{ user.lastUpdatedBy != null ? user.lastUpdatedBy : "Ain`t updated yet!" }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Vineyard info</h3>
          <ng-container *ngIf="vineyard">
            <p>Vineyard DBA: <a [routerLink]="['/vineyard', user.vineyardId]" class="link-dark">{{ vineyard.dbaName }}</a></p>
            <p>Company: {{vineyard.companyName}}</p>
            <p>Role: {{ user.role }}</p>
          </ng-container>
          <ng-container *ngIf="!vineyard">
            <p>Ain`t applied yet!</p>
            <p>Role: {{ user.role }}</p>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Actions</h3>

          <button *ngIf="!editProfileMode" (click)="toggleEditProfile()" class="btn btn-outline-dark mb-3">Edit profile</button>
          <button *ngIf="editProfileMode" (click)="toggleEditProfile()" class="btn btn-dark mb-3">Hide</button>

          <button *ngIf="!changePasswordMode" (click)="toggleChangePassword()" class="btn btn-dark mx-4 mb-3">Change password</button>
          <button *ngIf="changePasswordMode" (click)="toggleChangePassword()" class="btn btn-dark mx-4 mb-3">Hide</button>

          <div *ngIf="editProfileMode">
            <h4>Edit profile</h4>
            <div class="mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input [(ngModel)]="updateProfileRequest.firstName" type="text" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input [(ngModel)]="updateProfileRequest.lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
            </div>
            <button (click)="updateProfile()" class="btn btn-dark">Update</button>
          </div>

        </div>
    </div>
  </div>
</div>
