<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1 class="mb-4">Profile</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <h3>User Info</h3>
            <p><b>ID:</b> {{user.id}}</p>
            <p><b>First Name:</b> {{ user.firstName }}</p>
            <p><b>Last Name:</b> {{ user.lastName }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
          </div>
          <div class="row">
            <h3>Account Info</h3>
            <p><b>Create time:</b> {{ user.createdAt }}</p>
            <p><b>Created by:</b> {{ user.createdBy }}</p>
            <p><b>Last update time:</b> {{ user.lastUpdatedAt != null ? user.lastUpdatedAt : "Ain`t updated yet!" }}</p>
            <p><b>Last updated by:</b> {{ user.lastUpdatedBy != null ? user.lastUpdatedBy : "Ain`t updated yet!" }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Vineyard info</h3>
          <ng-container *ngIf="vineyard.id">
            <p><b>Vineyard DBA: </b> <a [routerLink]="['/vineyard']"
                                class="link-dark">{{ vineyard.dbaName }}</a></p>
            <p><b>Company:</b> {{ vineyard.companyName }}</p>
            <p><b>Role:</b> {{ user.role }}</p>
          </ng-container>
          <ng-container *ngIf="!vineyard.id">
            <p>Ain`t applied yet!</p>
            <p><b>Role:</b> {{ user.role }}</p>
          </ng-container>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <h3>Actions</h3>

          <button *ngIf="!editProfileMode" (click)="toggleEditProfile()" class="btn btn-outline-dark mb-3">Edit profile</button>
          <button *ngIf="editProfileMode" (click)="toggleEditProfile()" class="btn btn-dark mb-3">Hide</button>

          <button *ngIf="!changePasswordMode" (click)="toggleChangePassword()" class="btn btn-dark mx-4 mb-3">Change password</button>
          <button *ngIf="changePasswordMode" (click)="toggleChangePassword()" class="btn btn-dark mx-4 mb-3">Hide</button>

          <button *ngIf="!deleteAccountMode" (click)="toggleDeleteAccount()" class="btn btn-danger mb-3">Delete account</button>
          <button *ngIf="deleteAccountMode" (click)="toggleDeleteAccount()" class="btn btn-danger mb-3 mx-3">Hide</button>
          <button *ngIf="deleteAccountMode" (click)="deleteAccount()" class="btn btn-outline-danger mb-3">Confirm</button>

          <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
            <p *ngFor="let msg of errorMessages">{{msg.message}}</p>
          </div>

          <div *ngIf="editProfileMode">
            <h4>Edit profile</h4>
            <div class="mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input [(ngModel)]="updateProfileRequest.firstName" type="text" class="form-control" id="firstName"
                     placeholder="First name">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input [(ngModel)]="updateProfileRequest.lastName" type="text" class="form-control" id="lastName"
                     placeholder="Last name">
            </div>
            <button (click)="updateProfile()" class="btn btn-dark">Update</button>
          </div>

          <div *ngIf="changePasswordMode">
            <h4>Change password</h4>
            <div class="mb-3">
              <label for="oldPassword" class="form-label">Old password</label>
              <input [(ngModel)]="passwordChangeRequest.currentPassword" type="password" class="form-control"
                     id="oldPassword" placeholder="Old password">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New password</label>
              <input [(ngModel)]="passwordChangeRequest.newPassword" type="password" class="form-control"
                     id="newPassword" placeholder="New password">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm password</label>
              <input [(ngModel)]="passwordChangeRequest.confirmPassword" type="password" class="form-control"
                     id="confirmPassword" placeholder="Confirm password">
            </div>
            <button (click)="changePassword()" class="btn btn-dark">Change</button>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
